{% comment %}

  This snippet defines the default structure of each search result.

  'item' refers to the result, but typically mimics the product liquid tag,
  so you can access product liquid tags with {{ item.XXX }}.

  Remember that results aren't specific to products, so don't depend on
  a featured image or item.type. Pages, for example, have a blank item.type.

  Product liquid tag info:
   - http://docs.shopify.com/themes/liquid-variables/product

{% endcomment %}

  {% comment %}
    If we don't have a featured_image, add a push-- class to keep the alignment the same
  {% endcomment %}
  <div class="col-md-2 col-sm-3 col-xs-6">
      <a class="product" href="{{ item.url }}" title="{{ image_alt  }}">
      {% assign has_image = false %}
      {% if item.featured_image or item.image %}
        {% comment %}
          We have a featured_image
        {% endcomment %}
        {% assign has_image = true %}
        {% assign image_alt = item.title | escape %}

            {{ item | img_url: 'medium' | img_tag: image_alt | class: product__thumb }}
      {% endif %}

    <h3 class="product__title">{{ item.title }}</h3>

    {% if item.object_type == 'product' %}
        <span class="h4 product__price" itemprop="price">
          {{ item.price | money }}
        </span>
    {% endif %}

    {% comment %}
      Get a brief excerpt of raw text from the page/article/product
    {% endcomment %}
    </a>
  </div>
