<div class="container container--thin">
    <h1 class="page-title margin--top"><span>{{ article.title }}</span></h1>

    {% if article.image %}
        {% assign image_alt = article.title | escape %}
        {{ article | img_url: '1024x1024' | img_tag: image_alt, 'article__image'}}
    {% endif %}

    <div class="article__content">
        {{ article.content }}
    </div>

    <div class="margin--bottom">
        {% if settings.social_sharing_blog %}
            {% include 'social-sharing' %}
        {% endif %}
        <p class="align--centre">
            <img class="article__avatar" src="http://graph.facebook.com/519280264/picture?type=square"><br>
            Posted by {{ article.author }} on {{ article.published_at | date: format: 'month_day_year' }}
        </p>
        <p class="align--centre">
            <a class="button button--pill" href="/blogs/news">Back to latest news</a>
        </p>
    </div>

</div>
