{% paginate collection.products by 12 %}

{% include 'breadcrumb' %}

<div class="margin--bottom">
    {% if collection.image %}
        <div class="page-title-hero">
            <img src="{{ collection | img_url: 'master' }}"  alt="{{ collection.title | escape }}">
            <div class="page-title-hero__copy">
                <h1 class="page-title"><span>{{ collection.title }}</span></h1>
                {% if collection.description != blank %}
                    <div class="collection-desc align--centre">
                        {{ collection.description }}
                    </div>
                {% endif %}
            </div>
        </div>
    {% else %}
        <h1 class="page-title"><span>{{ collection.title }}</span></h1>
        {% if collection.description != blank %}
            <div class="collection-desc margin--bottom padding--bottom align--centre">
                {{ collection.description }}
            </div>
        {% endif %}
    {% endif %}
</div>

<div class="row">
    {% for product in collection.products %}
        {% include 'product-grid-item' %}
    {% endfor %}
</div>

{% if paginate.pages > 1 %}
    <div class="align--centre">
        {% include 'pagination-custom' %}
    </div>
{% endif %}

{% endpaginate %}
